.title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    

    p1 {
        font-size: 0.8rem;
        margin: 0%;
        padding: 10px;
        margin-bottom: 0;
    }

    p2 {
        font-size: 4rem;
        margin-top: 0%;
    }
}

.subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify;
    color: aliceblue;
}


.Japan {
    a {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        text-decoration: none;
    }
    background-color: #3E2922;
    margin: 0;
    padding: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 15px;
    border-color: aliceblue;
    text-align: center;
    font-family: "Dancing Script",
    cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.Australia {
    a {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        text-decoration: none;
    }

    background-color: #E57734;
    margin: 0;
    padding: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 15px;
    border-color: aliceblue;
    text-align: center;
    font-family: "Dancing Script",
    cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.Newzealand {
    a {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        text-decoration: none;
    }

    background-color: #f8ebcfe1;
    margin: 0;
    padding: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 15px;
    border-color: aliceblue;
    text-align: center;
    font-family: "Dancing Script",
    cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    
}

.Malaysia-Vietnam {
    a {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        text-decoration: none;
    }

    background-color: #F6C0A6;
    margin: 0;
    padding: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 15px;
    border-color: aliceblue;
    text-align: center;
    font-family: "Dancing Script",
    cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
}

.Egypt {
    a {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        text-decoration: none;
    }

    background-color: #B6ACAD;
    margin: 0;
    padding: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 15px;
    border-color: aliceblue;
    text-align: center;
    font-family: "Dancing Script",
    cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.Indonesia {
    a {
        color: rgb(255, 255, 255);
        font-size: 4rem;
        text-decoration: none;
    }

    background-color: #01757A;
    margin: 0;
    padding: 200px;
    margin-left: 400px;
    margin-right: 400px;
    border: solid 15px;
    border-color: aliceblue;
    text-align: center;
    font-family: "Dancing Script",
    cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}